
        ul,
        li {
            list-style: none;
        }

        li {
            text-align: -webkit-match-parent;
        }

        .itemList {
            margin-top: 80px;
            padding-bottom: 200px;
            width: 100%;
            border-top: 1px solid #ddd;
        }

        .itemList item {
            border-bottom: solid 1px #ddd;
            display: table;
            position: relative;
            width: 100%;
            overflow: hidden;
        }



        .itemList .itemImg {
            display: table-cell;
            width: 100%;
            vertical-align: top;

            
        }

        .itemList .itemInfo {
            display: table-cell;
            width: auto;
            vertical-align: middle;
            padding: 30px 0px 30px 0px;
            position: relative;
            border-bottom: 1px solid #ddd;
            padding-right: 12%;
            padding-left: 2%;
        }


        .itemList .itemOpt {
            display: table-cell;
            vertical-align: middle;
            width: 208px;
            text-align: center;
            background: #f8f8f8;
            white-space: nowrap;
        }

        .itemInfoList {
            padding-left: 0;
            padding-top: 40px;
            float: left;
        }

        .sizeHi img {
            width: 120%
        }

        .menu-list {
            width: 100%;
            background-color: #0e2f56;
            color: white;

        }

        .menu {
            border-top: 1px solid white;
        }

        .item {
            padding-top: 30px;
            padding-left: 10%;
        }

        .intro-btn {
            width: 100%;
            background-color: #0e2f56;
            border: 0;
            text-align: left;
            font-size: 80%;
        }

        .menu-Tit {
            padding: 6px 12px;
            font-size: 150%;
            border-bottom: 1px solid #ddd;
        }


        .menu-list {
            width: 100%;

        }

        .section-inner {
            margin-top: 150px;
        }

        .roomList {
            margin-top: 0px;
        }

        .room-tog2>li {
            padding: 0;
            background-color: #d0baa8;
        }

        .room-tog2 {
            border-bottom: 0;
            margin: 0 auto;
            width: 75%;

        }

        .room-tog2>li>a {
            color: white;
            margin: 0 auto;
            width: 100%;
            padding-left: 7px;
            padding-right: 7px;
            text-align: center;
            font-weight: bold;
        }

        .room-tit {
            font-size: 300%;
            text-align: center;
            padding-bottom: 50px;
            padding-top: 100px;
        }

        .fade>h3 {
            padding-top: 30px;
            padding-bottom: 20px;
            text-align: center;
            font-size: 230%;
        }

        .nav-tabs>li>a {
            margin: 0;

        }
        
        .tab-content{
            margin-top: 30px;
        }
        
        .itemInfo{
            width: 30%;
        }
        
        
 